@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Roboto:ital,wght@1,100&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body,
#root {
  height: 100%;
}
h1,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

.l-header {
  grid-area: lheader;
}
.l-content {
  grid-area: lcontent;
}
.l-footer {
  grid-area: lfooter;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 1fr 55px;
  grid-template-areas: "lheader" "lcontent" "lfooter";
}
